watsonx.ai_LLM_Integration.json
{"flowContents":{"identifier":"a2891b89-8598-3390-b03e-9abcd756d422","instanceIdentifier":"b95f8213-b10a-3f60-4cfc-4faab72698d3","name":"watsonx.ai LLM Integration","comments":"google/flan-t5-xxl\ngoogle/flan-ul2\nibm/granite-13b-instruct-v1","position":{"x":2488.0,"y":2784.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"3b5ee373-bc2a-385c-a94b-c4b8e42e080d","instanceIdentifier":"0d9dee51-58fb-309e-5582-958a7f952a42","name":"Send Msg to Slack Channel NiFi-SE","comments":"","position":{"x":1792.0,"y":1776.0},"type":"org.apache.nifi.processors.slack.PutSlack","bundle":{"group":"org.apache.nifi","artifact":"nifi-slack-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"icon-emoji":null,"webhook-text":"==== NiFi to IBM WatsonX.AI LLM\n\nOn Date: ${date}\nCreated: ${created_at}\nFile Name: ${filename}\nRequest Duration: ${invokehttp.request.duration}\nRequest URL: ${invokehttp.request.url}\ncf-ray: ${cf-ray}\nQ: ${inputs}\nR: ${generated_text}\nToken: ${generated_token}\nReq Duration: ${invokehttp.request.duration}\nHTTP TX ID: ${invokehttp.tx.id}\nIBM Msg: ${message}\nIBM Msg ID: ${message_id}\nModel ID: ${model_id}\nStop Reason: ${stop_reason}\nToken Count: ${tokencount}\nTX ID: ${transaction-id}\nUUID: ${uuid}\nCorr ID: ${x-correlation-id}\nGlobal TX ID: ${x-global-transaction-id}\nService Time: ${x-proxy-upstream-service-time}\nRequest ID: ${x-request-id}\n=====","channel":"#chat","icon-url":null,"username":"webhookbot "},"propertyDescriptors":{"icon-emoji":{"name":"icon-emoji","displayName":"Icon Emoji","identifiesControllerService":false,"sensitive":false},"webhook-url":{"name":"webhook-url","displayName":"Webhook URL","identifiesControllerService":false,"sensitive":true},"webhook-text":{"name":"webhook-text","displayName":"Webhook Text","identifiesControllerService":false,"sensitive":false},"channel":{"name":"channel","displayName":"Channel","identifiesControllerService":false,"sensitive":false},"icon-url":{"name":"icon-url","displayName":"Icon URL","identifiesControllerService":false,"sensitive":false},"username":{"name":"username","displayName":"Username","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"37ab6898-38a1-3c57-b566-021b62a2bb29","instanceIdentifier":"a4ac9bef-51bb-334a-7748-a0f5758b8445","name":"ReplaceText","comments":"","position":{"x":984.0,"y":-384.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"#{IBMAPIKEY}","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"45706c4a-26a1-3d3a-bfc5-58c2e70aebbb","instanceIdentifier":"2f4e3b62-5da1-3de2-63fb-943ed30b1b3a","name":"Grab Token","comments":"","position":{"x":992.0,"y":0.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"access_token":"$.access_token","Destination":"flowfile-attribute","Return Type":"json","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"access_token":{"name":"access_token","displayName":"access_token","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"14f164bc-ff2f-32c9-a71e-74e5845c99c2","instanceIdentifier":"621a14d7-85a4-3e5c-e0be-20b1efb654bd","name":"RetryFlowFile","comments":"","position":{"x":944.0,"y":1936.0},"type":"org.apache.nifi.processors.standard.RetryFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"penalize-retries":"true","maximum-retries":"3","Fail on Non-numerical Overwrite":"false","reuse-mode":"fail","retry-attribute":"flowfile.retries"},"propertyDescriptors":{"penalize-retries":{"name":"penalize-retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false},"maximum-retries":{"name":"maximum-retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false},"Fail on Non-numerical Overwrite":{"name":"Fail on Non-numerical Overwrite","displayName":"Fail on Non-numerical Overwrite","identifiesControllerService":false,"sensitive":false},"reuse-mode":{"name":"reuse-mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false},"retry-attribute":{"name":"retry-attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"7ad1618a-b797-3ec3-ae04-6be013b0f016","instanceIdentifier":"eb84d380-9ed9-3369-4983-a71f4e399126","name":"Call WatsonXAI Token Request","comments":"","position":{"x":984.0,"y":-192.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"ACCEPT_ALL","Connection Timeout":"90 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://iam.cloud.ibm.com/identity/token","form-body-form-name":null,"Content-Type":"application/x-www-form-urlencoded","flow-file-naming-strategy":"URL_PATH","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"190 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"False","Penalize on \"No Retry\"":"false","Useragent":"nifi-llm-calller2"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"30 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"1e4bedb4-b4fc-3880-aa8e-a981d86d15df","instanceIdentifier":"5aba09d4-fd85-382b-2dde-c55152eee8fb","name":"Consume Kafka JSON Questions","comments":"","position":{"x":96.0,"y":-552.0},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"header-name-regex":null,"Commit Offsets":"true","group.id":"nifi-weather-reader","bootstrap.servers":"kafka:9092","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"max-uncommit-offset-wait":"1 secs","sasl.mechanism":"GSSAPI","honor-transactions":"true","kerberos-user-service":null,"message-header-encoding":"UTF-8","message-demarcator":null,"sasl.username":null,"max.poll.records":"10000","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"sasl.token.auth":"false","sasl.kerberos.keytab":null,"Communications Timeout":"60 secs","topic":"weather","separate-by-key":"false","key-attribute-encoding":"utf-8","auto.offset.reset":"earliest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"76c3a223-7744-3cc5-bbbe-86afdf886f11","instanceIdentifier":"bb26f0b6-e2b3-3ffc-cfb8-2033c287f11a","name":"PublishKafkaRecord Cloudera","comments":"","position":{"x":952.0,"y":1752.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"compression.type":"none","attribute-name-regex":"filename,avro.schema,schema.name","record-writer":"9ebd0aeb-d43e-39d2-8d96-3412366b54c7","bootstrap.servers":"#{KAFKABROKERS}","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"record-key-writer":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":"9f918092-dfe1-3d20-ac43-67e7286d7185","message-header-encoding":"UTF-8","kerberos-user-service":null,"transactional-id-prefix":null,"client.id":"#{KAFKACLIENTID}","ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"0","aws.profile.name":null,"Record Metadata Strategy":"Use Configured Values","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":"uuid","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"watsonxaillm","publish-strategy":"USE_VALUE"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"record-key-writer":{"name":"record-key-writer","displayName":"Record Key Writer","identifiesControllerService":true,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"client.id":{"name":"client.id","displayName":"client.id","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"Record Metadata Strategy":{"name":"Record Metadata Strategy","displayName":"Record Metadata Strategy","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"publish-strategy":{"name":"publish-strategy","displayName":"Publish Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"83ef2ad2-d7e5-365f-991b-6d0485734e17","instanceIdentifier":"203d543f-71da-3cd2-5504-b5e635a9ffbb","name":"Update Content Type JSON","comments":"","position":{"x":944.0,"y":1560.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Mime-Type":"application/json","schema":"watsonxai","mime-type":"application/json","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","mime.type":"application/json","Stateful Variables Initial Value":null,"content.type":"application/json","Content.Type":"application/json","Delete Attributes Expression":null,"Mime.Type":"application/json","schema.name":"watsonxai","topic":"watsonxai","content-type":"application/json","Content-Type":"application/json"},"propertyDescriptors":{"Mime-Type":{"name":"Mime-Type","displayName":"Mime-Type","identifiesControllerService":false,"sensitive":false},"schema":{"name":"schema","displayName":"schema","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"mime-type","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"mime.type":{"name":"mime.type","displayName":"mime.type","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false},"content.type":{"name":"content.type","displayName":"content.type","identifiesControllerService":false,"sensitive":false},"Content.Type":{"name":"Content.Type","displayName":"Content.Type","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Mime.Type":{"name":"Mime.Type","displayName":"Mime.Type","identifiesControllerService":false,"sensitive":false},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"topic","identifiesControllerService":false,"sensitive":false},"content-type":{"name":"content-type","displayName":"content-type","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Content-Type","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"ef972240-c722-343d-85a3-de9144eccfef","instanceIdentifier":"486218e0-6982-39cd-e269-7e463225399a","name":"SplitRecord","comments":"","position":{"x":1800.0,"y":1560.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Record Writer":"03c4f05a-7768-3264-8439-05fee7cab0c8","Record Reader":"0b19172a-122d-3548-aab3-5f048280cf5a","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"92da15a6-13b4-39be-9428-a68fade4b6ad","instanceIdentifier":"b1d7e5a1-746b-3989-ee94-6628c89ea9d7","name":"Send Test Text","comments":"","position":{"x":96.0,"y":-840.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"character-set":"UTF-8","File Size":"0B","mime-type":"application/json","generate-ff-custom-text":"{\"inputs\":\"Please answer to the following question. What is the capital of the United States?\"}","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"03fac992-3c19-3ad3-aeb2-b60d23bd10b8","instanceIdentifier":"fefbe293-484c-34bc-4418-bfd59ee17921","name":"Add Fields","comments":"","position":{"x":944.0,"y":1360.0},"type":"org.apache.nifi.processors.standard.UpdateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"record-writer":"c8de2d9d-868f-3017-ae47-70362fa1a938","/uuid":"${uuid}","record-reader":"0b19172a-122d-3548-aab3-5f048280cf5a","replacement-value-strategy":"literal-value","/inputs":"${inputs}","/ts":"${now():toNumber()}"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"/uuid":{"name":"/uuid","displayName":"/uuid","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"replacement-value-strategy":{"name":"replacement-value-strategy","displayName":"Replacement Value Strategy","identifiesControllerService":false,"sensitive":false},"/inputs":{"name":"/inputs","displayName":"/inputs","identifiesControllerService":false,"sensitive":false},"/ts":{"name":"/ts","displayName":"/ts","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"27765994-dbf1-314a-ae59-08fa58c344b6","instanceIdentifier":"48bc4856-e9ab-3db0-9c4b-a14f9b93d472","name":"Call WatsonXAI LLM","comments":"","position":{"x":968.0,"y":368.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"ACCEPT_ALL","Connection Timeout":"90 secs","send-message-body":"true","Authorization":"Bearer ${access_token}","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"https://us-south.ml.cloud.ibm.com/ml/v1-beta/generation/text?version=2023-05-29","form-body-form-name":null,"Content-Type":"application/json","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","Accept":"application/json","invokehttp-proxy-user":null,"Read Timeout":"190 secs","Socket Write Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"POST","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":"nifi-llm-calller"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"Authorization":{"name":"Authorization","displayName":"Authorization","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"Accept":{"name":"Accept","displayName":"Accept","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"30 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["Original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"d64bf584-eebb-3a2d-8f96-3bf95e0c4089","instanceIdentifier":"1df5eabe-2bd4-31b2-86b8-d09586c1ec63","name":"Build New File","comments":"","position":{"x":976.0,"y":184.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"{\n  \"model_id\": \"google/flan-ul2-20b\",\n  \"input\": \"${inputs:urlEncode()}\",\n  \"parameters\": {\n    \"decoding_method\": \"greedy\",\n    \"max_new_tokens\": 20,\n    \"min_new_tokens\": 0,\n    \"stop_sequences\": [],\n    \"repetition_penalty\": 1\n  },\n  \"project_id\": \"0ead8ec4-d137-4f9c-8956-50b0da4a7068\" }","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"669515b8-f131-3f9f-9d60-1b02a52f0fab","instanceIdentifier":"724cabfe-39ab-3cea-ff55-5c28a04321bc","name":"SplitRecord","comments":"","position":{"x":968.0,"y":560.0},"type":"org.apache.nifi.processors.standard.SplitRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Record Writer":"03c4f05a-7768-3264-8439-05fee7cab0c8","Record Reader":"0b19172a-122d-3548-aab3-5f048280cf5a","Records Per Split":"1"},"propertyDescriptors":{"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Records Per Split":{"name":"Records Per Split","displayName":"Records Per Split","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"43a1db26-c431-376a-b1b8-c4e7215e6ccc","instanceIdentifier":"f157eabd-ec72-33d6-cb1a-a4389cf491f6","name":"EvaluateJsonPath","comments":"","position":{"x":984.0,"y":-592.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Destination":"flowfile-attribute","inputs":"$.inputs","Return Type":"json","Null Value Representation":"empty string","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"inputs":{"name":"inputs","displayName":"inputs","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"f1cd9063-982c-3197-9409-20b4df78822f","instanceIdentifier":"e3a45f79-1cea-3ae8-b103-3d83d85e48b0","name":"Get Generated Text","comments":"","position":{"x":968.0,"y":744.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"Destination":"flowfile-attribute","tokencount":"$.results[0].input_token_count","Return Type":"json","stop_reason":"$.results[0].stop_reason","created_at":"$.created_at","Null Value Representation":"empty string","message_id":"$.system.warnings[0].id","model_id":"$.model_id","generated_token":"$.results[0].generated_token_count","message":"$.system.warnings[0].message","generated_text":"$.results[0].generated_text","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"tokencount":{"name":"tokencount","displayName":"tokencount","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"stop_reason":{"name":"stop_reason","displayName":"stop_reason","identifiesControllerService":false,"sensitive":false},"created_at":{"name":"created_at","displayName":"created_at","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"message_id":{"name":"message_id","displayName":"message_id","identifiesControllerService":false,"sensitive":false},"model_id":{"name":"model_id","displayName":"model_id","identifiesControllerService":false,"sensitive":false},"generated_token":{"name":"generated_token","displayName":"generated_token","identifiesControllerService":false,"sensitive":false},"message":{"name":"message","displayName":"message","identifiesControllerService":false,"sensitive":false},"generated_text":{"name":"generated_text","displayName":"generated_text","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"ec47b9a7-3a61-3f24-a765-932a5a01b8ad","instanceIdentifier":"cf8b3032-4efe-3971-c101-1d4df6ce494b","name":"Query and Convert","comments":"","position":{"x":952.0,"y":1144.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"all":"SELECT * FROM FLOWFILE","cache-schema":"false","dbf-default-precision":"10","record-writer":"03c4f05a-7768-3264-8439-05fee7cab0c8","record-reader":"0b19172a-122d-3548-aab3-5f048280cf5a","include-zero-record-flowfiles":"false","dbf-default-scale":"4"},"propertyDescriptors":{"all":{"name":"all","displayName":"all","identifiesControllerService":false,"sensitive":false},"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"a526749d-9d3f-3144-89d1-d126fc904f38","instanceIdentifier":"9385f492-a711-3c88-e178-6b625103b49c","name":"Build New File","comments":"","position":{"x":960.0,"y":936.0},"type":"org.apache.nifi.processors.standard.AttributesToJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"attributes-to-json-regex":null,"Destination":"flowfile-content","Null Value":"false","Attributes List":"transaction-id, date, cf-ray, created_at, generated_text, generated_token, inputs, invokehttp.request.duration, message, message_id, model_id, stop_reason, tokencount, uuid, x-correlation-id, x-global-transaction-id, x-proxy-upstream-service-time, x-request-id","Include Core Attributes":"false","JSON Handling Strategy":"NESTED"},"propertyDescriptors":{"attributes-to-json-regex":{"name":"attributes-to-json-regex","displayName":"Attributes Regular Expression","identifiesControllerService":false,"sensitive":false},"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Null Value":{"name":"Null Value","displayName":"Null Value","identifiesControllerService":false,"sensitive":false},"Attributes List":{"name":"Attributes List","displayName":"Attributes List","identifiesControllerService":false,"sensitive":false},"Include Core Attributes":{"name":"Include Core Attributes","displayName":"Include Core Attributes","identifiesControllerService":false,"sensitive":false},"JSON Handling Strategy":{"name":"JSON Handling Strategy","displayName":"JSON Handling Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"}],"inputPorts":[{"identifier":"68274fd5-d69f-3c19-a412-8f0fd9f282cd","instanceIdentifier":"895d1ce6-38a9-3f11-dd10-263a590dbe3f","name":"Web In","position":{"x":1040.0,"y":-792.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"}],"outputPorts":[{"identifier":"48a68476-2ada-33c3-ac6a-aa2e4184efc1","instanceIdentifier":"c847c4a4-a0d1-3084-c566-8cc67bc5b8ae","name":"Errors","position":{"x":1848.0,"y":1976.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"}],"connections":[{"identifier":"dd097ccf-ca68-3568-a901-6d6997a97790","instanceIdentifier":"c24c9299-fc4f-3d9e-1136-9e00b5e041cd","name":"","source":{"id":"a526749d-9d3f-3144-89d1-d126fc904f38","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Build New File","comments":"","instanceIdentifier":"9385f492-a711-3c88-e178-6b625103b49c"},"destination":{"id":"ec47b9a7-3a61-3f24-a765-932a5a01b8ad","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Query and Convert","comments":"","instanceIdentifier":"cf8b3032-4efe-3971-c101-1d4df6ce494b"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"53ed3c8f-e5cf-3fa8-82a6-8584d30282f9","instanceIdentifier":"5c354546-59f5-3843-1460-3764948a20e5","name":"","source":{"id":"92da15a6-13b4-39be-9428-a68fade4b6ad","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Send Test Text","comments":"","instanceIdentifier":"b1d7e5a1-746b-3989-ee94-6628c89ea9d7"},"destination":{"id":"43a1db26-c431-376a-b1b8-c4e7215e6ccc","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f157eabd-ec72-33d6-cb1a-a4389cf491f6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"647948ba-25cc-3bda-bac7-31c30e5a30f3","instanceIdentifier":"98e8c4b5-38b8-3416-86ea-923e65b799b7","name":"","source":{"id":"3b5ee373-bc2a-385c-a94b-c4b8e42e080d","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Send Msg to Slack Channel NiFi-SE","comments":"","instanceIdentifier":"0d9dee51-58fb-309e-5582-958a7f952a42"},"destination":{"id":"48a68476-2ada-33c3-ac6a-aa2e4184efc1","type":"OUTPUT_PORT","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Errors","instanceIdentifier":"c847c4a4-a0d1-3084-c566-8cc67bc5b8ae"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"ec97ee34-0689-3432-8d11-d15af0b5a3f3","instanceIdentifier":"7ef04bb8-d369-3fe2-4e57-dd0de63efb85","name":"","source":{"id":"27765994-dbf1-314a-ae59-08fa58c344b6","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Call WatsonXAI LLM","comments":"","instanceIdentifier":"48bc4856-e9ab-3db0-9c4b-a14f9b93d472"},"destination":{"id":"85740495-5eaf-3ce1-821f-7fedfff2a1b2","type":"FUNNEL","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Funnel","comments":"","instanceIdentifier":"8ef882fe-d14f-3fe5-7985-a463a936618f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"42ebe139-400f-3837-ae38-8d61dc8de70d","instanceIdentifier":"b4235458-a897-3be1-0169-e612b2e5c204","name":"","source":{"id":"37ab6898-38a1-3c57-b566-021b62a2bb29","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"ReplaceText","comments":"","instanceIdentifier":"a4ac9bef-51bb-334a-7748-a0f5758b8445"},"destination":{"id":"10311d09-2947-34ba-9d3a-9df0f0867090","type":"FUNNEL","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Funnel","comments":"","instanceIdentifier":"f60fab8b-08d7-36e3-feb0-9988071d6b7e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"d0e42775-69c1-3aff-a6a6-039bff2b245b","instanceIdentifier":"7052d3f3-f758-38c0-f286-c2b98d832b27","name":"","source":{"id":"83ef2ad2-d7e5-365f-991b-6d0485734e17","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Update Content Type JSON","comments":"","instanceIdentifier":"203d543f-71da-3cd2-5504-b5e635a9ffbb"},"destination":{"id":"76c3a223-7744-3cc5-bbbe-86afdf886f11","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"PublishKafkaRecord Cloudera","comments":"","instanceIdentifier":"bb26f0b6-e2b3-3ffc-cfb8-2033c287f11a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"2aa07c8b-e556-314f-b035-958b3a2efcbb","instanceIdentifier":"1a656618-068f-3ad9-fc4f-742b933c7652","name":"","source":{"id":"7ad1618a-b797-3ec3-ae04-6be013b0f016","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Call WatsonXAI Token Request","comments":"","instanceIdentifier":"eb84d380-9ed9-3369-4983-a71f4e399126"},"destination":{"id":"10311d09-2947-34ba-9d3a-9df0f0867090","type":"FUNNEL","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Funnel","comments":"","instanceIdentifier":"f60fab8b-08d7-36e3-feb0-9988071d6b7e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["No Retry","Failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"b720ec7d-e599-3b72-a0d4-bc0fd4c36a71","instanceIdentifier":"014c0037-b408-3c0d-4b8f-307b5d472035","name":"","source":{"id":"03fac992-3c19-3ad3-aeb2-b60d23bd10b8","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Add Fields","comments":"","instanceIdentifier":"fefbe293-484c-34bc-4418-bfd59ee17921"},"destination":{"id":"83ef2ad2-d7e5-365f-991b-6d0485734e17","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Update Content Type JSON","comments":"","instanceIdentifier":"203d543f-71da-3cd2-5504-b5e635a9ffbb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":100000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"4e7af031-a989-331e-aaf5-113cb4572d95","instanceIdentifier":"b4df5b6d-f1ec-32a5-f1b6-0834dddf829e","name":"","source":{"id":"43a1db26-c431-376a-b1b8-c4e7215e6ccc","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f157eabd-ec72-33d6-cb1a-a4389cf491f6"},"destination":{"id":"37ab6898-38a1-3c57-b566-021b62a2bb29","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"ReplaceText","comments":"","instanceIdentifier":"a4ac9bef-51bb-334a-7748-a0f5758b8445"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"8f578ea5-98c0-3f7b-ad6d-2433866fbd32","instanceIdentifier":"21ab47ec-006c-3a5b-24aa-654172a24af2","name":"","source":{"id":"d64bf584-eebb-3a2d-8f96-3bf95e0c4089","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Build New File","comments":"","instanceIdentifier":"1df5eabe-2bd4-31b2-86b8-d09586c1ec63"},"destination":{"id":"27765994-dbf1-314a-ae59-08fa58c344b6","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Call WatsonXAI LLM","comments":"","instanceIdentifier":"48bc4856-e9ab-3db0-9c4b-a14f9b93d472"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"6811feb0-e5b4-32e4-8ab4-ee7dcb082c3f","instanceIdentifier":"a0f601a5-c5cf-3b2e-7d59-00c6cf76fd0a","name":"","source":{"id":"14f164bc-ff2f-32c9-a71e-74e5845c99c2","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"RetryFlowFile","comments":"","instanceIdentifier":"621a14d7-85a4-3e5c-e0be-20b1efb654bd"},"destination":{"id":"76c3a223-7744-3cc5-bbbe-86afdf886f11","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"PublishKafkaRecord Cloudera","comments":"","instanceIdentifier":"bb26f0b6-e2b3-3ffc-cfb8-2033c287f11a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":768.0,"y":1960.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"cb45596d-4d68-34f9-862b-25c2a36f99d8","instanceIdentifier":"6cf01ec2-aa55-394f-e73a-41d479917cb1","name":"","source":{"id":"37ab6898-38a1-3c57-b566-021b62a2bb29","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"ReplaceText","comments":"","instanceIdentifier":"a4ac9bef-51bb-334a-7748-a0f5758b8445"},"destination":{"id":"7ad1618a-b797-3ec3-ae04-6be013b0f016","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Call WatsonXAI Token Request","comments":"","instanceIdentifier":"eb84d380-9ed9-3369-4983-a71f4e399126"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"bafa18ff-f769-331f-b68d-27d53cb84abf","instanceIdentifier":"05d7585d-bbc6-3915-6837-f25c54104670","name":"","source":{"id":"27765994-dbf1-314a-ae59-08fa58c344b6","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Call WatsonXAI LLM","comments":"","instanceIdentifier":"48bc4856-e9ab-3db0-9c4b-a14f9b93d472"},"destination":{"id":"669515b8-f131-3f9f-9d60-1b02a52f0fab","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"SplitRecord","comments":"","instanceIdentifier":"724cabfe-39ab-3cea-ff55-5c28a04321bc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"453543aa-e723-3ee0-99f4-0285f14c04f7","instanceIdentifier":"08b3927e-20c1-3028-cfd7-5fe20a022655","name":"","source":{"id":"7ad1618a-b797-3ec3-ae04-6be013b0f016","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Call WatsonXAI Token Request","comments":"","instanceIdentifier":"eb84d380-9ed9-3369-4983-a71f4e399126"},"destination":{"id":"7ad1618a-b797-3ec3-ae04-6be013b0f016","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Call WatsonXAI Token Request","comments":"","instanceIdentifier":"eb84d380-9ed9-3369-4983-a71f4e399126"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1452.8189697265625,"y":-139.56481170654297},{"x":1527.8189697265625,"y":-82.56481170654297}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"16f2d353-4d6d-30c3-9a81-f5f8fc58a973","instanceIdentifier":"2c9da131-2b97-39c2-471e-8e2dea53a833","name":"","source":{"id":"1e4bedb4-b4fc-3880-aa8e-a981d86d15df","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Consume Kafka JSON Questions","comments":"","instanceIdentifier":"5aba09d4-fd85-382b-2dde-c55152eee8fb"},"destination":{"id":"43a1db26-c431-376a-b1b8-c4e7215e6ccc","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f157eabd-ec72-33d6-cb1a-a4389cf491f6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"0be0caf0-df29-3985-a969-371b3c0c1d0b","instanceIdentifier":"343782fa-1dd4-30de-3c47-a66ed0949e71","name":"","source":{"id":"03fac992-3c19-3ad3-aeb2-b60d23bd10b8","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Add Fields","comments":"","instanceIdentifier":"fefbe293-484c-34bc-4418-bfd59ee17921"},"destination":{"id":"7c8ea01b-dfe5-3e1c-94fa-9f0f2f32b960","type":"FUNNEL","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Funnel","comments":"","instanceIdentifier":"d59aeb6a-f90b-31ba-4480-a225a50d79ad"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"ae459fc3-4163-3cc6-a4c7-616233b230ff","instanceIdentifier":"886f5d24-1222-3241-894e-b5f4b2dd5c47","name":"","source":{"id":"76c3a223-7744-3cc5-bbbe-86afdf886f11","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"PublishKafkaRecord Cloudera","comments":"","instanceIdentifier":"bb26f0b6-e2b3-3ffc-cfb8-2033c287f11a"},"destination":{"id":"14f164bc-ff2f-32c9-a71e-74e5845c99c2","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"RetryFlowFile","comments":"","instanceIdentifier":"621a14d7-85a4-3e5c-e0be-20b1efb654bd"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"f87aac2e-8b76-37a7-926c-f589dcaa5bd2","instanceIdentifier":"24d62238-7ca8-3fc7-cd6d-95f3fa5f9142","name":"","source":{"id":"ef972240-c722-343d-85a3-de9144eccfef","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"SplitRecord","comments":"","instanceIdentifier":"486218e0-6982-39cd-e269-7e463225399a"},"destination":{"id":"3b5ee373-bc2a-385c-a94b-c4b8e42e080d","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Send Msg to Slack Channel NiFi-SE","comments":"","instanceIdentifier":"0d9dee51-58fb-309e-5582-958a7f952a42"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"e9357768-8ef8-32dd-9efe-6f7f7b0084c5","instanceIdentifier":"348e6277-fba7-3629-daa2-a5aecdced950","name":"","source":{"id":"43a1db26-c431-376a-b1b8-c4e7215e6ccc","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f157eabd-ec72-33d6-cb1a-a4389cf491f6"},"destination":{"id":"10311d09-2947-34ba-9d3a-9df0f0867090","type":"FUNNEL","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Funnel","comments":"","instanceIdentifier":"f60fab8b-08d7-36e3-feb0-9988071d6b7e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"24600f54-ecd9-398c-831a-cda275b790df","instanceIdentifier":"e40077fe-c8ec-36e1-7246-f7e93109972a","name":"","source":{"id":"45706c4a-26a1-3d3a-bfc5-58c2e70aebbb","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Grab Token","comments":"","instanceIdentifier":"2f4e3b62-5da1-3de2-63fb-943ed30b1b3a"},"destination":{"id":"85740495-5eaf-3ce1-821f-7fedfff2a1b2","type":"FUNNEL","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Funnel","comments":"","instanceIdentifier":"8ef882fe-d14f-3fe5-7985-a463a936618f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"79f51de1-8e11-3667-8aae-cd40314e2e11","instanceIdentifier":"9532abc2-72f7-3840-1ee8-5ffe250b464f","name":"","source":{"id":"83ef2ad2-d7e5-365f-991b-6d0485734e17","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Update Content Type JSON","comments":"","instanceIdentifier":"203d543f-71da-3cd2-5504-b5e635a9ffbb"},"destination":{"id":"ef972240-c722-343d-85a3-de9144eccfef","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"SplitRecord","comments":"","instanceIdentifier":"486218e0-6982-39cd-e269-7e463225399a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"7d2c56a4-c301-39e7-b879-be565d9a450e","instanceIdentifier":"2560e2c9-43f6-3f88-3be0-136620bef2e9","name":"","source":{"id":"14f164bc-ff2f-32c9-a71e-74e5845c99c2","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"RetryFlowFile","comments":"","instanceIdentifier":"621a14d7-85a4-3e5c-e0be-20b1efb654bd"},"destination":{"id":"48a68476-2ada-33c3-ac6a-aa2e4184efc1","type":"OUTPUT_PORT","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Errors","instanceIdentifier":"c847c4a4-a0d1-3084-c566-8cc67bc5b8ae"},"labelIndex":1,"zIndex":0,"selectedRelationships":["retries_exceeded","failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"bd550ca6-5312-3aa9-a5e9-dae56c213780","instanceIdentifier":"b79562db-10ad-3bae-c7b6-5eb9cd546b9c","name":"","source":{"id":"f1cd9063-982c-3197-9409-20b4df78822f","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Get Generated Text","comments":"","instanceIdentifier":"e3a45f79-1cea-3ae8-b103-3d83d85e48b0"},"destination":{"id":"7c8ea01b-dfe5-3e1c-94fa-9f0f2f32b960","type":"FUNNEL","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Funnel","comments":"","instanceIdentifier":"d59aeb6a-f90b-31ba-4480-a225a50d79ad"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"146cf445-68ab-35ce-aaed-fe02e8d60e34","instanceIdentifier":"99a57f66-ce6c-3083-d76f-5ba253887b28","name":"","source":{"id":"d64bf584-eebb-3a2d-8f96-3bf95e0c4089","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Build New File","comments":"","instanceIdentifier":"1df5eabe-2bd4-31b2-86b8-d09586c1ec63"},"destination":{"id":"85740495-5eaf-3ce1-821f-7fedfff2a1b2","type":"FUNNEL","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Funnel","comments":"","instanceIdentifier":"8ef882fe-d14f-3fe5-7985-a463a936618f"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"05a26c88-a1b6-3b5a-8f51-a04866f039d4","instanceIdentifier":"e30536f8-37e2-1e79-944c-1c36a75a29c5","name":"","source":{"id":"68274fd5-d69f-3c19-a412-8f0fd9f282cd","type":"INPUT_PORT","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Web In","instanceIdentifier":"895d1ce6-38a9-3f11-dd10-263a590dbe3f"},"destination":{"id":"43a1db26-c431-376a-b1b8-c4e7215e6ccc","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"f157eabd-ec72-33d6-cb1a-a4389cf491f6"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"b56dc2d0-4fa7-3433-ab4a-16785e2b729b","instanceIdentifier":"b36a1109-6207-34cb-137d-cca91b31c915","name":"","source":{"id":"45706c4a-26a1-3d3a-bfc5-58c2e70aebbb","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Grab Token","comments":"","instanceIdentifier":"2f4e3b62-5da1-3de2-63fb-943ed30b1b3a"},"destination":{"id":"d64bf584-eebb-3a2d-8f96-3bf95e0c4089","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Build New File","comments":"","instanceIdentifier":"1df5eabe-2bd4-31b2-86b8-d09586c1ec63"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"71c8608e-5893-31bc-a24d-2853f289f2bc","instanceIdentifier":"3bf5e959-f1d1-3773-8413-d7fff8fc810d","name":"","source":{"id":"7ad1618a-b797-3ec3-ae04-6be013b0f016","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Call WatsonXAI Token Request","comments":"","instanceIdentifier":"eb84d380-9ed9-3369-4983-a71f4e399126"},"destination":{"id":"45706c4a-26a1-3d3a-bfc5-58c2e70aebbb","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Grab Token","comments":"","instanceIdentifier":"2f4e3b62-5da1-3de2-63fb-943ed30b1b3a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"e7a61417-7bde-3853-b11e-e514765f0d7f","instanceIdentifier":"afce96b0-d8dc-3564-e55b-5678899f0da8","name":"","source":{"id":"ec47b9a7-3a61-3f24-a765-932a5a01b8ad","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Query and Convert","comments":"","instanceIdentifier":"cf8b3032-4efe-3971-c101-1d4df6ce494b"},"destination":{"id":"03fac992-3c19-3ad3-aeb2-b60d23bd10b8","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Add Fields","comments":"","instanceIdentifier":"fefbe293-484c-34bc-4418-bfd59ee17921"},"labelIndex":1,"zIndex":0,"selectedRelationships":["all"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"39b4af81-4380-3028-a2e3-0b70ec0e21fc","instanceIdentifier":"653592f3-c72b-35ef-2dba-ecc833b0af33","name":"","source":{"id":"f1cd9063-982c-3197-9409-20b4df78822f","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Get Generated Text","comments":"","instanceIdentifier":"e3a45f79-1cea-3ae8-b103-3d83d85e48b0"},"destination":{"id":"a526749d-9d3f-3144-89d1-d126fc904f38","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Build New File","comments":"","instanceIdentifier":"9385f492-a711-3c88-e178-6b625103b49c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"43677a6e-a838-365f-8902-0f60d8a94607","instanceIdentifier":"9fff9902-36fe-3445-0f8e-61f691d37373","name":"","source":{"id":"669515b8-f131-3f9f-9d60-1b02a52f0fab","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"SplitRecord","comments":"","instanceIdentifier":"724cabfe-39ab-3cea-ff55-5c28a04321bc"},"destination":{"id":"f1cd9063-982c-3197-9409-20b4df78822f","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Get Generated Text","comments":"","instanceIdentifier":"e3a45f79-1cea-3ae8-b103-3d83d85e48b0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"a59b354a-eff7-3a21-ab2a-7dd4d866ed6d","instanceIdentifier":"fa27aa52-439a-3d66-0992-1a48dd740522","name":"","source":{"id":"a526749d-9d3f-3144-89d1-d126fc904f38","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Build New File","comments":"","instanceIdentifier":"9385f492-a711-3c88-e178-6b625103b49c"},"destination":{"id":"7c8ea01b-dfe5-3e1c-94fa-9f0f2f32b960","type":"FUNNEL","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Funnel","comments":"","instanceIdentifier":"d59aeb6a-f90b-31ba-4480-a225a50d79ad"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"8ddac251-ff94-393a-b20d-7d4dc8ab140b","instanceIdentifier":"8c167ed6-1b6b-3cdd-2fe6-9b0c8a563117","name":"","source":{"id":"ec47b9a7-3a61-3f24-a765-932a5a01b8ad","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Query and Convert","comments":"","instanceIdentifier":"cf8b3032-4efe-3971-c101-1d4df6ce494b"},"destination":{"id":"7c8ea01b-dfe5-3e1c-94fa-9f0f2f32b960","type":"FUNNEL","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Funnel","comments":"","instanceIdentifier":"d59aeb6a-f90b-31ba-4480-a225a50d79ad"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"44c12697-99f9-39cb-918b-dcb1e22d417a","instanceIdentifier":"98747cde-af8b-3159-2f93-7a22e5c7b113","name":"","source":{"id":"27765994-dbf1-314a-ae59-08fa58c344b6","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Call WatsonXAI LLM","comments":"","instanceIdentifier":"48bc4856-e9ab-3db0-9c4b-a14f9b93d472"},"destination":{"id":"27765994-dbf1-314a-ae59-08fa58c344b6","type":"PROCESSOR","groupId":"a2891b89-8598-3390-b03e-9abcd756d422","name":"Call WatsonXAI LLM","comments":"","instanceIdentifier":"48bc4856-e9ab-3db0-9c4b-a14f9b93d472"},"labelIndex":0,"zIndex":0,"selectedRelationships":["Retry"],"backPressureObjectThreshold":1000000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":604.256103515625,"y":388.4116668701172},{"x":732.256103515625,"y":516.4116668701172}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"}],"labels":[{"identifier":"d2526f30-1381-3d92-b877-88bc20de5e28","instanceIdentifier":"b943aea2-9269-370e-4cfa-9faf01b5f04f","position":{"x":1432.0,"y":-712.0},"label":"IBM watsonx.ai\n","zIndex":0,"width":680.0,"height":272.0,"style":{"background-color":"#006699","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"22cd2847-4db5-333d-aa58-72aafbb9982f","instanceIdentifier":"83074c18-e398-3b1f-7994-0e691a3f1e99","position":{"x":-72.0,"y":-688.0},"label":"Please answer to the following question. \n\n{\"inputs\":\"Please answer to the following question. What is the capital of the United States?\"}\n","zIndex":0,"width":528.0,"height":120.0,"style":{"font-size":"12px"},"componentType":"LABEL","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"800049f9-959d-3814-82e1-67deec03a678","instanceIdentifier":"fc796e91-5a75-39d6-00d4-082fe83c6cb7","position":{"x":1648.0,"y":560.0},"label":"flan-ul2-20b\n\n\n{\n  \"model_id\": \"google/flan-t5-xxl\",\n  \"input\": \"${inputs}\",\n  \"parameters\": {\n    \"decoding_method\": \"greedy\",\n    \"max_new_tokens\": 20,\n    \"min_new_tokens\": 0,\n    \"stop_sequences\": [],\n    \"repetition_penalty\": 1\n  },\n  \"project_id\": \"0ead8ec4-d137-4f9c-8956-50b0da4a7068\" }\n\n\n\nsupported model ids: ibm/mpt-7b-instruct2, \neleutherai/gpt-neox-20b, google/flan-t5-xxl, \ngoogle/flan-ul2, bigscience/mt0-xxl\nibm/granite-13b-instruct-v1\n\n\n\n{\n  \"model_id\": \"google/flan-t5-xxl\",\n  \"input\": \"${inputs:urlEncode()}\",\n  \"parameters\": {\n    \"decoding_method\": \"greedy\",\n    \"max_new_tokens\": 20,\n    \"min_new_tokens\": 0,\n    \"stop_sequences\": [],\n    \"repetition_penalty\": 1\n  },\n  \"project_id\": \"0ead8ec4-d137-4f9c-8956-50b0da4a7068\" }","zIndex":0,"width":400.0,"height":528.0,"style":{"background-color":"#d6e1ff","font-size":"12px"},"componentType":"LABEL","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"}],"funnels":[{"identifier":"7c8ea01b-dfe5-3e1c-94fa-9f0f2f32b960","instanceIdentifier":"d59aeb6a-f90b-31ba-4480-a225a50d79ad","position":{"x":408.0,"y":1032.0},"componentType":"FUNNEL","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"85740495-5eaf-3ce1-821f-7fedfff2a1b2","instanceIdentifier":"8ef882fe-d14f-3fe5-7985-a463a936618f","position":{"x":2400.0,"y":136.0},"componentType":"FUNNEL","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"10311d09-2947-34ba-9d3a-9df0f0867090","instanceIdentifier":"f60fab8b-08d7-36e3-feb0-9988071d6b7e","position":{"x":1784.0,"y":-320.0},"componentType":"FUNNEL","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"}],"controllerServices":[{"identifier":"9f918092-dfe1-3d20-ac43-67e7286d7185","instanceIdentifier":"1882aed6-6a31-3d46-54c0-42863bb00dc6","name":"SchemaFromFieldJsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"schema-text-property","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.1.2.1.6.0-323"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"03c4f05a-7768-3264-8439-05fee7cab0c8","instanceIdentifier":"a6d542cf-76bc-30fa-1a24-451885b650f3","name":"BasicJsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"full-schema-attribute","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.1.2.1.6.0-323"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"2bcac972-8ae0-3344-8215-c68517b13cfc","instanceIdentifier":"18787e09-fdf9-35c6-146b-a62f34f01fbe","name":"AvroSchemaReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":"af9fb898-f772-3373-ac83-f4ffb155c613","schema-access-strategy":"hwx-content-encoded-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.1.2.1.6.0-323"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"},{"identifier":"9ebd0aeb-d43e-39d2-8d96-3412366b54c7","instanceIdentifier":"1a31638c-f3fd-3fec-3f52-5233671aa8cd","name":"ClouderaSchemaJsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.1.2.1.6.0-323"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"full-schema-attribute","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.1.2.1.6.0-323"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"a2891b89-8598-3390-b03e-9abcd756d422"}],"variables":{},"parameterContextName":"mta","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":1000000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{"0b19172a-122d-3548-aab3-5f048280cf5a":{"identifier":"0b19172a-122d-3548-aab3-5f048280cf5a","name":"CDP Infer JsonTreeReader"},"c8de2d9d-868f-3017-ae47-70362fa1a938":{"identifier":"c8de2d9d-868f-3017-ae47-70362fa1a938","name":"BuildSchemaJsonRecordSetWriter"},"af9fb898-f772-3373-ac83-f4ffb155c613":{"identifier":"af9fb898-f772-3373-ac83-f4ffb155c613","name":"ClouderaSchemaRegistry"}},"parameterContexts":{"mta":{"name":"mta","parameters":[{"name":"SENTIMENTHTTPURL","description":"","sensitive":false,"provided":false,"value":"https://api-inference.huggingface.co/models/distilbert-base-uncased-finetuned-sst-2-english"},{"name":"HTTPURLBERT","description":"","sensitive":false,"provided":false,"value":"https://api-inference.huggingface.co/models/bert-base-uncased"},{"name":"SchemaRegistryURL","description":"","sensitive":false,"provided":false,"value":"http://localhost:7788/api/v1"},{"name":"ATTRIBUTELIST","description":"","sensitive":false,"provided":false,"value":"StopPointRef,ExpectedDepartureTime,DataFrameRef,DestinationName,ExpectedArrivalTime,LineRef,VehicleLocationLongitude,DirectionRef,ArrivalProximityText,EstimatedPassengerCapacity,AimedArrivalTime,PublishedLineName,DatedVehicleJourneyRef,Monitored,ProgressStatus,EstimatedPassengerCount,VehicleLocationLatitude,VehicleRef,ProgressRate,StopPoint,VisitNumber,StopPointName,Bearing,OriginAimedDepartureTime,JourneyPatternRef,RecordedAtTime,OperatorRef,BlockRef,DistanceFromStop,SituationSimpleRef1,SituationSimpleRef2,SituationSimpleRef3,SituationSimpleRef4,SituationSimpleRef5,Date,DestinationRef,OriginRef,NumberOfStopsAway"},{"name":"DESTINATIONTOPICNAME","description":"","sensitive":false,"provided":false,"value":"mta"},{"name":"SCHEMANAME","description":"","sensitive":false,"provided":false,"value":"mta"},{"name":"gpt3url","description":"","sensitive":false,"provided":false,"value":"https://api-inference.huggingface.co/models/openai-gpt"},{"name":"HTTPURL","description":"","sensitive":false,"provided":false,"value":"https://api-inference.huggingface.co/models/gpt2"},{"name":"KAFKABROKERS","description":"","sensitive":false,"provided":false,"value":"kafka:9092"},{"name":"KAFKACLIENTID","description":"","sensitive":false,"provided":false,"value":"nifi-ibm-local"},{"name":"IBMAPIKEY","description":"","sensitive":false,"provided":false,"value":"grant_type=urn%3Aibm%3Aparams%3Aoauth%3Agrant-type%3Aapikey&apikey=CONTACCTIBM"},{"name":"SQLQUERY","description":"","sensitive":false,"provided":false,"value":"SELECT * FROM FLOWFILE"},{"name":"MTA_URL","description":"","sensitive":false,"provided":false,"value":"NONE"}],"inheritedParameterContexts":[],"componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}